body {
  background-color: rgba(142, 243, 243, 0.801);
  font-family: 'Ubuntu', sans-serif;
}

.barra{
  background-color: black;
  height: 2px;
}

h2,
h3,
h4{
  padding-left: 13px;
}

.cajaperfil {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid black;
}

.textoperfil{
  padding-left: 13px;
}

.cajadatos {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid black;
}

.formulario{
  font-size: 18px;
  padding-left: 13px;
  padding-bottom: 18px;
}

input{
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #39c;
  height: 17px;
}

.cajaformacion {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 25px;
  border: 1px solid black;
}

.primaria{
  padding-left: 15px;
}

.secundaria{
  padding-left: 15px;
}

.cajaidiomas {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid black;
}

ul li{
  font-size: 17px;
}