.contenedor{
    width: 980px;
    height: 800px;
    background-color: greenyellow;
    margin: auto;
}

.cabecera{
    width: 980px;
    height: 250px;
    background-color: black;
}

.menu{
    width: 310px;
    height: 490px;
    background-color: tomato;
}

.contenido{
    width: 670px;
    height: 490px;
    background-color: greenyellow;
    margin-left: 310px;
    margin-top: -490px;
}

.pie{
    width: 980px;
    height: 60px;
    background-color: blueviolet;
}