.contenedor{
    width: 980px;
    height: 800px;
    background-color: greenyellow;
    margin: auto;
}

.cabecera{
    width: 980px;
    height: 250px;
    background-color: black;
}

.menu{
    width: 980px;
    height: 90px;
    background-color: tomato;
}

.contenido{
    width: 980px;
    height: 400px;
    background-color: greenyellow;
}

.pie{
    width: 980px;
    height: 70px;
    background-color: blueviolet;
}