/* importamos letras de Google */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    padding: 15px;
}


body{
    background-color: red;
}

.contenedor{
    background-color: white;
}


.parrafo1{
    font-family: 'Times New Roman', Times, serif;
}

.parrafo2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.parrafo3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* aplicamos estilos a la letra */
.parrafo4{
    font-style: italic;
}

.parrafo5{
    font-style: oblique;
}

.parrafo6{
    font-style: normal;
}

.parrafo7{
    font-weight: bold;
}

.parrafo8{
    font-weight: bolder;
}

.parrafo9{
    font-variant: small-caps;
}

.parrafo10{
    font-variant: normal;
}

.parrafo11{
    font-size: 15px;
}

/* Llamamos a la fuente importada desde Google */
.parrafo12{
    font-family: 'PT Serif', serif;
}

/* utilizamos fuentes desscargadas */
@font-face{
    font-family: "Fuente 1" ;
    src: url("/fonts/IndieFlower-Regular.ttf");
}

@font-face{
    font-family: "Fuente 2" ;
    src: url("/fonts/NovaFlat-Regular.ttf");
}

@font-face{
    font-family: "Fuente 3" ;
    src: url("/fonts/starjedi/Starjedi.ttf");
}

@font-face{
    font-family: "Fuente 4" ;
    src: url("/fonts/Friz\ Quadrata\ Std\ Medium.otf");
}



/* llamamos a la fuente descargada desde google */
.parrafo13{
    font-family: "Fuente 1";
}

.parrafo14{
    font-family: "Fuente 2";
}

.parrafo15{
    font-family: "Fuente 3";
}

.parrafo16{
    font-family: "Fuente 4";
}



