.contenedor {
  background-color: blue;
}

.cabecera {
  background-color: blueviolet;
}

.menu {
  background-color: chartreuse;
}

.contenido {
  background-color: chocolate;
}

.pie {
  background-color: cornflowerblue;
}

body {
  background-color: darkgray;
}

.parrafoimagen {
  background-image: url("/img/foto2.jpg");
}

.parrafotransparencia {
  background-color: black;
  opacity: 75%;
  color: whitesmoke;
}

/* agregamos una imagen de fondo al parrafo, pero que se repita */
.parrafoimagenrepetir{
  background-image: url("/laboratorio03/img/html5ycss3.png");
}

.parrafoimagennorepetir{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-repeat: no-repeat;
}

.parrafoimagentamaño{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-size: 30px;
}

.parrafoimagenrepetirhorizontal{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-repeat: repeat-x;
  background-size: 30px;
}

.parrafoimagenrepetirvertical{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-repeat: repeat-y;
  background-size: 30px;
}

.parrafoimagencentrar{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimagenizquierda{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimagenderecha{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimagensuperior{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimageninferior{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimagensuperiorderecha{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimageninferiorizquierda{
  background-image: url("/laboratorio03/img/html5ycss3.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30px;
}

.parrafoimagenesfondo{
  background-image: url("/laboratorio03/img/html5ycss3.png"), url("/laboratorio03/img/foto2.jpg");
  background-size: 350px, 350px;
  background-position: left, right;
  background-repeat: no-repeat ;
}